# Python
*.py[co]

# pickle serialization
*.pickle

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon

# virtualenv
.venv*/

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm settings
.idea
.idea/*

# Eclipse
.pydevproject
.project
.metadata
.settings/

# Vim
*.swp

# Office files
~*
